p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

section {
  /* padding-top: 2vh; */
  height: 90vh;
  /* margin: 0 10rem; */
  box-sizing: border-box;
  min-height: fit-content;
}
.gutter {
  padding-right: 4rem;
  padding-left: 4rem;
}
/* .section-container {
  display: flex;
} */

.wrapper {
  background: linear-gradient(
      38.73deg,
      rgba(204, 0, 187, 0.15) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(
      141.27deg,
      rgba(0, 70, 209, 0) 50%,
      rgba(0, 70, 209, 0.15) 100%
    );
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);
}

.loaderCont {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  overflow: hidden;
  animation: l9 5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before {
  content: "Loading...";
}
@keyframes l9 {
  0% {
    text-shadow: 0 0 #000, 11ch 0 #8a9b0f, 22ch 0 #c02942, 33ch 0 #00a0b0,
      44ch 0 #000;
  }
  25% {
    text-shadow: -11ch 0 #000, 0ch 0 #8a9b0f, 11ch 0 #c02942, 22ch 0 #00a0b0,
      33ch 0 #000;
  }
  50% {
    text-shadow: -22ch 0 #000, -11ch 0 #8a9b0f, 0ch 0 #c02942, 11ch 0 #00a0b0,
      22ch 0 #000;
  }
  75% {
    text-shadow: -33ch 0 #000, -22ch 0 #8a9b0f, -11ch 0 #c02942, 0ch 0 #00a0b0,
      11ch 0 #000;
  }
  100% {
    text-shadow: -44ch 0 #000, -33ch 0 #8a9b0f, -22ch 0 #c02942, -11ch 0 #00a0b0,
      0ch 0 #000;
  }
}
